* {
    margin: 0;
    padding: 0;
}

header {
    padding: 5rem;
    background-color: red;
}


.div1 div {
   display: flex;
   justify-content: center;
}



.div1 img {
    width: 20rem;
    height: auto;
 
}

.div2 img {
    width: 20rem;
    height: auto;
}

.div2 {
    display: flex;
    justify-content: space-around;
}