* {
   margin: 0; 
   padding: 0;
   list-style: none;
}

header {
    padding: 3em;
    background-color: rgba(13, 128, 236, 0.801);
}

ul {
    display: flex;
    justify-content: center;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: deepskyblue;
    transition: 1s;
}

#secao1 {
    background-image: url(imagens/iphone14-lancamento.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20rem;
}

#secao1 button {
    margin-top: 1em;
    padding: 10px;
    width: 15rem;
    font-size: 1em;
    color: white;
    background-color: rgba(13, 128, 236, 0.801);
    border-color: white;
    cursor: pointer;
    border-radius: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

#secao1 a button:hover {
    color:aquamarine;
    transition: 1s;
}

#secao1 h1 {
    font-size: 1.7em;
    margin-left: 6%;
}

#secao1 p {
    margin-top: 15px;
}

#secao1 span {
    color: aqua;
}

#secao2 {
    background-image: url(imagens/iphone14-deitado.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25rem;
    color: aqua;
}

#rodape {
    background-color: aqua;
    padding: 5rem;
}